Repository pytergeist/Nova: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8

isort:
  name: isort (python)
  entry: isort
  language: python

flake8:
  name: flake8
  entry: flake8
  language: python

chore: updating benchmarks with new naming conv
  fusion/benchmarks/eigen/CMakeLists.txt
  fusion/benchmarks/fusion/CMakeLists.txt
  fusion/benchmarks/fusion/FusionBenchmark.cpp
Due: none

feat: adding unary ewise walker, reduction, and exp, log, sum neon simd operatons
  fusion/src/Fusion/Tensor.h
  fusion/src/Fusion/cpu/SimdTraits.h
  fusion/src/Fusion/main.cpp
Due: none

chore: renaming Xsimd api
  fusion/src/Fusion/Tensor.h
  fusion/src/Fusion/kernels/Xsimd.cpp
Due: none

feat: adding sleef fetchcontent to cmake build
  fusion/CMakeLists.txt
Due: none

bugfix: using 3.9 git_tag for sleef
  fusion/CMakeLists.txt
Due: none

bugfix: switching broadcast.cpp to Broadcast.cpp in cmakelist files
  fusion/CMakeLists.txt
  fusion/benchmarks/eigen/CMakeLists.txt
Due: none

bugfix: adding Bindings.cpp to CMakelists
  fusion/CMakeLists.txt
Due: none

refactor: changing casing in tensor/random file/imports
  fusion/src/Fusion/Random.h
  fusion/src/Fusion/Tensor.h
Due: none

adding sleef fetch to cmakebuild
  fusion/CMakeLists.txt
Due: none

adding sleef target lib to CMakeList
  fusion/CMakeLists.txt
Due: none

updating cmakelists and file names in imports
  fusion/CMakeLists.txt
  fusion/src/Fusion/Random.h
  fusion/src/Fusion/Tensor.h
Due: none

changing bindings.cpp to Bindings.cpp
  fusion/CMakeLists.txt
Due: none

adding sleef to include dirs
  fusion/CMakeLists.txt
Due: none

adding sleef depedancy
  fusion/CMakeLists.txt
Due: none

adding verbose mode to cmake build for CI debug
  fusion/CMakeLists.txt
Due: none

turning off verbose mode in cmakelists
  fusion/CMakeLists.txt
Due: none

feat: adding inplace operator overloads for >=, -=. Adding gte simd intrinsics
  fusion/src/Fusion/Tensor.h
  fusion/src/Fusion/core/ElementWise.h
  fusion/src/Fusion/cpu/SimdTags.h
  fusion/src/Fusion/cpu/SimdTraits.h
  fusion/src/Fusion/cpu/simd/Vec128Neon.h
  fusion/src/Fusion/main.cpp
Due: none

refactor: removing xsimd dependancy from fusion
  fusion/CMakeLists.txt
  fusion/src/Fusion/Tensor.h
  fusion/src/Fusion/kernels/Xsimd.cpp
Due: none

adding depedancies to tensor/simdtraits
  fusion/src/Fusion/Tensor.h
  fusion/src/Fusion/cpu/SimdTags.h
  fusion/src/Fusion/storage/DenseStorage.h
Due: none

Adding first pass of implicit topology builder
  examples/simple_network/mlp.py
  nova/src/backend/topology/builder.py
  nova/src/blocks/block.py
  nova/src/blocks/core/input_block.py
Due: isort, flake8

setting self.node attr to built node in _ensure_attatched method of block class
  nova/src/blocks/block.py
Due: isort, flake8

adding functional implicit model topology builder
  examples/simple_network/mlp.py
  nova/src/blocks/block.py
  nova/src/blocks/core/input_block.py
Due: isort, flake8

adding finalise current method call to Model class to cleanup context
  examples/simple_network/mlp.py
  nova/src/models/model.py
Due: isort, flake8

Adding Random fusion class, pybind11 pyclass binding, and python subclass
  fusion/src/Fusion/Random.h
  fusion/src/Fusion/python/Bindings.cpp
  fusion/src/Fusion/python/random/BindRandom.h
  fusion/src/Fusion/python/tensor/BindTensor.h
  nova/src/backend/core/_C/__init__.py
  nova/src/backend/random/__init__.py
  nova/src/backend/random/distributions.py
  nova/src/backend/random/random.py
  nova/src/blocks/regularisation/dropout.py
Due: isort, flake8

changing from ingeritance to composition in python Random class
  nova/src/backend/random/random.py
Due: isort, flake8

Changing _C module name to clib
  fusion/CMakeLists.txt
  nova/src/backend/core/_tensor.py
  nova/src/backend/core/clib/__init__.py
  nova/src/backend/factory/__init__.py
  nova/src/backend/random/random.py
Due: isort, flake8

moving cmake build to top level dir
  CMakeLists.txt
  CMakePresets.json
  cmake/Dependencies.cmake
  cmake/ProjectOptions.cmake
  fusion/CMakeLists.txt
  fusion/benchmarks/CMakeLists.txt
  fusion/benchmarks/fusion/CMakeLists.txt
  fusion/benchmarks/fusion/FusionBenchmark.cpp
Due: none

adding stubgen tools for .pyi interface file generation
  nova/py.typed
  nova/src/backend/core/clib/fusion/__init__.pyi
  nova/src/backend/core/clib/fusion/factory.pyi
  pyproject.toml
  tools/pyi/__init__.py
  tools/pyi/stub_gen.py
Due: flake8

Updating actions workflows with new cmake build
  .github/workflows/integration-test.yaml
  .github/workflows/unit-tests.yaml
  CMakeLists.txt
  cmake/Dependencies.cmake
  cmake/ProjectOptions.cmake
  nova/src/backend/core/clib/fusion/__init__.pyi
  nova/src/backend/core/clib/fusion/factory.pyi
Due: flake8

deleting old compile.sh script
  fusion/compile.sh
Due: none

bugfix: remvoing hanging ` from CMakeList.txt
  CMakeLists.txt
Due: none

adding poetry shell before cmake commands to force correct python version
  .github/workflows/integration-test.yaml
  .github/workflows/unit-tests.yaml
Due: none

Adding py version from venv for cmake build in CI
  .github/workflows/integration-test.yaml
  .github/workflows/unit-tests.yaml
Due: none

fixing bug in cmake name of CI
  .github/workflows/unit-tests.yaml
Due: none

updating step names in integration test CI
  .github/workflows/integration-test.yaml
  CMakeLists.txt
Due: none

bugfix: updating integration test py version to 3.13
  .github/workflows/integration-test.yaml
Due: none

adding greater than fn, simd dispatch, diagnoal2D and swapaxes functions
  fusion/src/Fusion/Tensor.h
  fusion/src/Fusion/cpu/SimdTags.h
  fusion/src/Fusion/cpu/SimdTraits.h
  fusion/src/Fusion/cpu/simd/Vec128Neon.h
  fusion/src/Fusion/kernels/Serial.cpp
  fusion/src/Fusion/python/tensor/BindTensor.h
Due: none

adding initial file structure for autodiff module
  fusion/src/Fusion/Random.h
  fusion/src/Fusion/Tensor.h
  fusion/src/Fusion/autodiff/Enging.h
  fusion/src/Fusion/autodiff/_Node.h
  fusion/src/Fusion/autodiff/operations/Operation.h
  fusion/src/Fusion/autodiff/operations/Registry.cpp 
  fusion/src/Fusion/autodiff/operations/main.cpp
  fusion/src/Fusion/cpu/SimdTraits.h
  fusion/src/Fusion/cpu/simd/Vec128Neon.h
  fusion/src/Fusion/kernels/Serial.cpp
  fusion/src/Fusion/python/random/BindRandom.h
  fusion/src/Fusion/python/tensor/BindTensor.h
  fusion/src/Fusion/storage/DenseStorage.h
Due: none

Path conditions:
  isort: any of: ^nova|^tests|^profiling and \.py$
  flake8: any of: ^nova|^tests|^profiling
