Repository pytergeist/Nova: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.*README\..*$
      - id: end-of-file-fixer
        exclude: ^.*README\..*$
      - id: check-added-large-files
        exclude: ^.*README\..*$

  - repo: local
    hooks:
      - id: isort
        name: isort (python)
        entry: isort
        language: python
        types: [ python ]
        files: ^nova|^tests|^profiling


      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: black
        language: python
        minimum_pre_commit_version: 2.9.2
        require_serial: true
        types_or: [python, pyi]
        files: ^nova|^tests|^profiling


      - id: flake8
        name: flake8
        entry: flake8
        language: python
        files: ^nova|^tests|^profiling

Docs: Updating README with ROADMAP for work
  README.md
Due: none

docs: updating readme with short submodule descriptions
  README.md
Due: none

refactor: switching to xsimd for vectoried binary operations on CPUs
  fusion/src/Fusion/kernels/binary_ops.cpp
  fusion/src/Fusion/main.cpp
  fusion/src/Fusion/python/bind_tensor.h
  fusion/src/Fusion/storage/dense_storage.h
  fusion/src/Fusion/storage/storage_interface.h
  fusion/src/Fusion/tensor/tensor.h
  fusion/src/Fusion/tensor/tensor_constructors.ipp
Due: none

Adding log, sqrt, exp xsimd binary ops
  fusion/src/Fusion/kernels/binary_ops.cpp
  fusion/src/Fusion/kernels/unary_ops.cpp
  fusion/src/Fusion/main.cpp
  fusion/src/Fusion/tensor/tensor.h
Due: none

feat: adding pow and sum operations to tensor class
  fusion/src/Fusion/kernels/binary_ops.cpp
  fusion/src/Fusion/kernels/reduction_ops.cpp
  fusion/src/Fusion/kernels/unary_ops.cpp
  fusion/src/Fusion/main.cpp
  fusion/src/Fusion/tensor/tensor.h
Due: none

docs: updating nova readme
  README.md
Due: none

Adding maximum reduciton op, adding cblas matmul
  fusion/src/Fusion/kernels/cblas.cpp
  fusion/src/Fusion/kernels/reduction_ops.cpp
  fusion/src/Fusion/tensor/tensor.h
Due: none

Adding serial_api submodule with flat index based transpose routine, changing namespace to xsimd_ops in xsimd_api
  fusion/src/Fusion/kernels/cblas_api.cpp
  fusion/src/Fusion/kernels/serial_api.cpp
  fusion/src/Fusion/kernels/xsimd_api.cpp
  fusion/src/Fusion/tensor/tensor.h
Due: none

docs: adding fusion README
  fusion/README.md
Due: none

Adding curr codebase with 17 test failures all stemming from test network gracdient
  fusion/CMakeLists.txt
  fusion/compile.sh
  fusion/src/Fusion/kernels/cblas_api.cpp
  fusion/src/Fusion/main.cpp
  fusion/src/Fusion/python/bind_tensor.h
  fusion/src/Fusion/python/helpers.h
  fusion/src/Fusion/storage/dense_storage.h
  fusion/src/Fusion/tensor/tensor.h
  fusion/src/Fusion/tests/tensor_ops_tests.cpp
  nova/src/backend/core/_tensor.py
  nova/src/backend/operations/registry.py
  profiling/profile_backends.py
Due: isort, flake8

removing unused size var in tensor::sum
  fusion/src/Fusion/tensor/tensor.h
Due: none

Update README.md
  fusion/README.md
Due: none

Adding rudimentory broadcasting to xsimd ops
  fusion/src/Fusion/kernels/cblas_api.cpp
  fusion/src/Fusion/kernels/xsimd_api.cpp
  fusion/src/Fusion/tests/tensor_cpu_tests.cpp
Due: none

updating python bindings
  fusion/src/Fusion/python/bind_tensor.h
  fusion/src/Fusion/python/helpers.h
Due: none

formatting repo
  fusion/CMakeLists.txt
  fusion/compile.sh
  fusion/src/Fusion/tensor/tensor.h
Due: none

chore: Adding Makefile with clean, clean-logs, and code styling routines
  Makefile
Due: none

swapping shape in transpose in c++ backend, all tests now passing
  Makefile
  fusion/src/Fusion/main.cpp
  fusion/src/Fusion/python/bind_tensor.h
  fusion/src/Fusion/tensor/tensor.h
  fusion/src/Fusion/tests/tensor_cpu_tests.cpp
  nova/logging/log_config.py
  nova/src/backend/autodiff/_node.py
  nova/src/backend/core/_tensor.py
  nova/src/backend/operations/registry.py
  nova/src/blocks/linear.py
  tests/integration/gradient/pytorch/network_ops/test_mlp_no_bias.py
  tests/unit/tensor/test_ops.py
Due: isort, flake8

emoving debug logs from _tensor and blocks/linear
  nova/src/backend/core/_tensor.py
  nova/src/blocks/linear.py
Due: isort, flake8

Moving tensor.h into main Fusion dir, refactoring paths in affected submodules
  fusion/src/Fusion/eigen/eigen_helpers.h
  fusion/src/Fusion/eigen/eigen_tensor.h
  fusion/src/Fusion/kernels/unary_ops.cpp
  fusion/src/Fusion/main.cpp
  fusion/src/Fusion/python/bind_tensor.h
  fusion/src/Fusion/python/helpers.h
  fusion/src/Fusion/storage/dense_storage.h
  fusion/src/Fusion/tensor.h
  fusion/src/Fusion/tensor/tensor_algorithms.ipp
  fusion/src/Fusion/tensor/tensor_arithmetic.ipp
  fusion/src/Fusion/tensor/tensor_constructors.ipp
  fusion/src/Fusion/tensor/tensor_io.ipp
  fusion/src/Fusion/tensor/tensor_reductions.ipp
  fusion/src/Fusion/tests/tensor_cpu_tests.cpp
Due: none

Refactoring binary ops to use generic scalar broadcasting 'engine'
  fusion/src/Fusion/kernels/xsimd_api.cpp
  fusion/src/Fusion/storage/dense_storage.h
  fusion/src/Fusion/storage/storage_interface.h
  fusion/src/Fusion/tensor.h
Due: none

deleting depricated reduction_ops module
  fusion/src/Fusion/kernels/reduction_ops.cpp
  fusion/src/Fusion/kernels/xsimd_api.cpp
Due: none

Adding batch blas routines for batched tensor matmul, adding one 3D matmul integration failing test
  fusion/src/Fusion/kernels/blas_api.cpp
  fusion/src/Fusion/kernels/cblas_api.cpp
  fusion/src/Fusion/kernels/xsimd_api.cpp
  fusion/src/Fusion/main.cpp
  fusion/src/Fusion/tensor.h
  tests/integration/gradient/finite_difference/binary_ops/test_matmul_gradient.py
  tests/unit/tensor/test_ops.py
Due: isort, flake8

Changing fusion bound tensor to 32-bit float dtype
  fusion/src/Fusion/kernels/blas_api.cpp
  fusion/src/Fusion/kernels/serial_api.cpp
  fusion/src/Fusion/kernels/xsimd_api.cpp
  fusion/src/Fusion/python/bindings.cpp
  fusion/src/Fusion/python/helpers.h
  fusion/src/Fusion/tensor.h
Due: none

Adding tolerance policies (rtol, atol, epsilon) for finite difference tests
  profiling/profile_backends.py
  tests/integration/gradient/finite_difference/__init__.py
  tests/integration/gradient/finite_difference/binary_ops/test_addition_gradient.py
  tests/integration/gradient/finite_difference/binary_ops/test_divide_gradient.py
  tests/integration/gradient/finite_difference/binary_ops/test_exponential_gradient.py
  tests/integration/gradient/finite_difference/binary_ops/test_log_gradient.py
  tests/integration/gradient/finite_difference/binary_ops/test_matmul_gradient.py
  tests/integration/gradient/finite_difference/binary_ops/test_mul_gradient.py
  tests/integration/gradient/finite_difference/binary_ops/test_power_gradient.py
  tests/integration/gradient/finite_difference/binary_ops/test_sqrt_gradient.py
  tests/integration/gradient/finite_difference/binary_ops/test_subtraction_gradient.py
  tests/integration/gradient/finite_difference/finite_difference.py
  tests/integration/gradient/finite_difference/tolerance_policy.py
  tests/integration/gradient/pytorch/binary_ops/test_addition_gradient.py
  tests/integration/gradient/pytorch/binary_ops/test_divide_gradient.py
  tests/integration/gradient/pytorch/binary_ops/test_matmul_gradient.py
  tests/integration/gradient/pytorch/binary_ops/test_subtraction_gradient.py
  tests/integration/gradient/pytorch/network_ops/test_mlp_no_bias.py
Due: isort, flake8

Adding tolerance policy for pytorch tests
  tests/integration/gradient/finite_difference/ternary_ops/test_addition_relu_gradient.py
  tests/integration/gradient/pytorch/__init__.py
  tests/integration/gradient/pytorch/binary_ops/test_addition_gradient.py
  tests/integration/gradient/pytorch/binary_ops/test_divide_gradient.py
  tests/integration/gradient/pytorch/binary_ops/test_matmul_gradient.py
  tests/integration/gradient/pytorch/binary_ops/test_subtraction_gradient.py
  tests/integration/gradient/pytorch/network_ops/test_mlp_no_bias.py
  tests/integration/gradient/pytorch/tolerance_policy.py
Due: isort, flake8

Adding xsimd fetch content to cmakelists, changing depricated hadd fn to reduce_add
  fusion/CMakeLists.txt
  fusion/src/Fusion/kernels/xsimd_api.cpp
Due: none

Adding benchmarks dir to later dev
  benchmarks/.gitkeep
Due: none

bugfix: changing epsilon to tolerance_policy definition for pytorch/finite_difference matmul_2d integration tests
  tests/integration/gradient/finite_difference/binary_ops/test_matmul_gradient.py
  tests/integration/gradient/pytorch/binary_ops/test_matmul_gradient.py
Due: isort, flake8

feat: Extending matmul_backward to handle 3D matmul
  nova/src/backend/operations/registry.py
Due: isort, flake8

Adding api dir to nova
  nova/api/.gitkeep
Due: flake8

Refactor: Moving linear layer in core submodule of blocks
  nova/src/blocks/__init__.py
  nova/src/blocks/activations/activations.py
  nova/src/blocks/block.py
  nova/src/blocks/core/__init__.py
  nova/src/blocks/core/input_block.py
  nova/src/blocks/core/linear.py
  tests/integration/gradient/pytorch/network_ops/test_mlp_no_bias.py
Due: isort, flake8

feat: Adding rudimentary input block impl
  nova/src/blocks/core/input_block.py
Due: isort, flake8

feat: changing activations __call__ to call, updating corresponding tests
  tests/integration/gradient/finite_difference/ternary_ops/test_addition_relu_gradient.py
  tests/integration/gradient/pytorch/network_ops/test_mlp_no_bias.py
  tests/unit/activations/test_activations.py
Due: isort, flake8

Updating call in ReLU fn
  nova/src/blocks/activations/activations.py
Due: isort, flake8

feat: adding shape property to tensor, adding __call__ method to block.py, adding topology submodule with builder and model node class for model topology management
  nova/src/backend/core/_tensor.py
  nova/src/backend/topology/__init__.py
  nova/src/backend/topology/builder.py
  nova/src/backend/topology/node.py
  nova/src/blocks/__init__.py
  nova/src/blocks/block.py
  nova/src/blocks/core/__init__.py
  nova/src/blocks/core/input_block.py
  nova/src/blocks/core/linear.py
  nova/src/models/model.py
Due: isort, flake8

Adding TODO to builder class
  nova/src/backend/topology/builder.py
Due: isort, flake8
